.planning {
	border-radius: 5px;
	height: 441px;
	width: 765px;
	background-color: #93A5FF;
	padding: 44px;
	box-sizing: border-box;
	position: relative;
}

.bg-drk {
	background-color: #424D83;
}

.icon {
	height: 77px;
	width: 77px;
	border-radius: 5px;
	background-color: #424D83;
	padding: 14px;
	box-sizing: border-box;
}

.icon-lght {
	background-color: #93A5FF;
}

.icon svg,
.icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.planning>*:not(:last-child) {
	margin-bottom: 44px;
}

.title {
	font-size: 23px;
	font-weight: bold;
	color: #fff;
}

.content {
	font-size: 20px;
	color: #fff;
}

.body>*:not(:last-child) {
	margin-bottom: 24px;
}

.title,
.content,
.action,
.action2,
.header3,
.header4,
.title1,
.listed{
	letter-spacing: 1px;
	line-height: 37px;
	font-family: 'Nunito', sans-serif;
}

.action {
	background-color: white;
	border-radius: 5px;
	color: #93A5FF;
	font-size: 18px;
	font-weight: bold;
	padding: 6px 16px;
	cursor: pointer;
	transition: background-color 300ms, transform 500ms, color 300ms;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.action2 {
	background-color: #424d83;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 6px 16px;
	cursor: pointer;
	transition: background-color 300ms, transform 500ms, color 300ms;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.action:hover {
	background-color: #424D83;
	transform: translateY(-3px);
	color: white;
}

.action2:hover {
	background-color: #93A5FF;
	transform: translateY(-3px);
	color: white;
}

.buttons {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
}

.body {
	margin-bottom: 20px !important;
}

.material-icons {
	margin-bottom: 2px;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: flex-end;
	top: 0;
	left: 0;
	padding: 24px;
	box-sizing: border-box;
}

.background>img {
	height: 104px;
	object-fit: contain;
}

.header1,
.header3,
.title2 {
	font-weight: bold;
	font-size: 35px;
	color: black;
}

.header2,
.header4,
.title3 {
	font-size: 28px;
	color: black;
}

.body2 .footer>*:not(:last-child) {
	margin-bottom: 10px;
}

.body2,
.footer,
.title1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	background-color: #F7F8FF;
}

.lotsofclass {
	background-color: #F7F8FF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 48px;
}

.stupid {
	display: flex;
	flex-flow: row;
}

.stupid>*:not(:last-child) {
	margin-right: 80px;
}

.lotsofclass>*:not(:last-child) {
	margin-bottom: 80px;
}

.icon2>img {
	height: 200px;
	width: 350px;
	object-fit: contain;
	margin-bottom: 40px;
}

.header4 {
	margin-bottom: 60px !important;
}

.header3 {
	margin-bottom: 16px;
}
.boldlist{
	font-size: 23px;
	font-weight: bold;
	color: #000;
}
.list{
	font-size: 20px;
	color: #000;
}
.listed {
	display: flex;
	flex-flow: column;
	background-color:white;
	box-sizing: border-box;
	height: 545px;
	width: 765px;
	border-radius: 5px;
	position: relative;
	justify-content: center;
	object-fit: contain;
	padding: 44px;
	
	align-items: center;
	
}	
.icon3{
	height: 50px;
	width: 50px;
	border-radius: 5px;
	background-color: white;
	padding: 14px;
	box-sizing: border-box;
	margin-left: 0%;
}
.icon3>img,
.icon3>svg{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.title2{
	margin-bottom: 20px !important;
}
.title3>*:not(:last-child){
	margin-bottom: 20px;
}
.body2>*:not(:last-child){
	margin-top: 20px;
}
.boldlist{
	margin-bottom: 10px;
}
.itemwrapper{
	display:flex;
	flex-flow: row;
	align-items: center;
}
.itemwrapperli{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;

}
.siteWrapper{
	position: relative;
	box-sizing: border-box;
	padding: 80PX;
}
.dotstop,
.dotsbottom{
	position: absolute;
	width: 200px;
	height: 200px;
	background: transparent
}
.dotstop>img,
.dotsbottom>img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.dotstop{
	top: 0;

	right: 0;
}
.dotsbottom{
	bottom: 0;
	left: 0;

}
.minisite>img{
	height: 100%;
	width: 100%;
	object-fit: contain;
	
}
.minisite{
	height: 240px;
	width: 360px;
}